<div class="footer">
    <%= link_to places_path, class: "icon" do %>
      <i class="fa-solid fa-street-view"></i>
      <span>Explorer</span>
    <% end %>

    <%= link_to search_trip_path, class: "icon" do %>
      <i class="fa-solid fa-route"></i>
      <span>Créer</span>
    <% end %>

    <%= link_to places_path, class: "icon" do %>
      <i class="fa-solid fa-star"></i>
      <span>Favoris</span>
    <% end %>
</div>
