.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 3vw;
}

.site-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trips-container {
  display: flex;
  flex-direction: column;
}

.trip-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.trip-places-container {
  display: flex;
  flex-direction: row;
  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
